<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h1 style="text-align: center">About Me</h1><br>
        <section class="section who_i_am">
            <header>
                <div><br>
                    <img src="static/images/david-marcu-78A265wPiO4-unsplash.jpg" alt="" width="1235" height="600">
                    <h2 class="text-overlay-p1 position_adjust-p1">Character</h2>
                    <a class="s-text" href="https://unsplash.com/ja/%E5%86%99%E7%9C%9F/78A265wPiO4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"><pre>          Photo </a><a class="xs-text" >by </a><a class="s-text" href="https://unsplash.com/ja/@davidmarcu?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">David Marcu</a></pre>
                    <hr class="text-overlay-p1">
                    <p class="text-overlay-p1">
                        • Born and raised in Japan.<br><br>
                        • All year round wearing only t-shirt and short-pants kind of kid. That mindset still remains in me.<br><br>
                        • Honesty, Persistence, and Open-mindness are my virtue.<br><br>
                        • Humor- and creative mind-absent :'(
                    </p>
                </div>
            </header>
        </section>
        <br>
        <section class="section what_i_like">
            <header>
                <div><br>
                    <img src="static/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg" alt="" width="1235" height="600">
                    <a class="s-text" href="https://unsplash.com/ja/%E5%86%99%E7%9C%9F/XJXWbfSo2f0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"><pre>          Photo </a><a class="xs-text" >by </a><a class="s-text" href="https://unsplash.com/ja/@lucabravo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Luca Bravo</a></pre>
                    <h2 class="text-overlay-p2 position_adjust-p2 right-side"><pre>    Things I Like</pre></h2>
                    <hr class="text-overlay-p2 right-side">
                    <p class="text-overlay-p2 right-side">
                        • Coding is always fun. As if it were solving a puzzle.<br><br>
                        • NBA crowns the sport in my world. I play, watch and read about basketball.<br><br>
                        • Exercise (Fitness) gives me feeling of accomplishment and better shape.<br><br>
                        • Camping makes me feel refreshed and recuperated. The sound of bonfire, river flowing, and birds' chirping are farily calming. BBQ cannot be better<br><br>
                        • Jazz music soothes me. Love to play the saxophone and the piano.<br><br>
                    </p>
                </div>
            </header>
        </section>
        <br>
        <section class="section what_i_do"> 
            <header>
                <div><br>
                    <img src="static/images/freestocks-t_NGdeU_9rk-unsplash.jpg" style="opacity: 0.8" alt="" width="1235" height="700">
                    <a class="s-text" href="https://unsplash.com/ja/%E5%86%99%E7%9C%9F/t_NGdeU_9rk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"><pre>          Photo </a><a class="xs-text" >by </a><a class="s-text" href="https://unsplash.com/ja/@freestocks?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">freestocks</a></pre>
                    <h2 class="text-overlay-p3 position_adjust-p3">Things I do</h2>
                    <hr class="text-overlay-p3">
                    <p class="text-overlay-p3">
                        • My life can be summed up in 3 things: <br><br>
                        • <b>Sleep, Workout, and Coding</b>
                    </p>
                </div>
            </header>
        </section>
        <br>
        <section class="section what_i_will_do">
            <header>
                <div><br>
                    <img src="static/images/bethany-legg-75nbwHfDsnY-unsplash.jpg" style="opacity: 1" alt="" width="1235" height="800">
                    <a class="s-text b-color" href="https://unsplash.com/ja/%E5%86%99%E7%9C%9F/75nbwHfDsnY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"><pre>          Photo </a><a class="xs-text b-color" >by </a><a class="s-text b-color" href="https://unsplash.com/ja/@bkotynski?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Bethany Legg</a></pre>
                    <h2 class="text-overlay-p4 position_adjust-p4 right-side b-color"><pre>    Where Passion Meets Purpose</pre></h2>
                    <hr class="text-overlay-p4 right-side">
                    <p class="text-overlay-p4 right-side b-color">
                        <b><font size="+2">Story</font></b><br><br>
                        While I was at college, I happened to know Tableau, a data visualization software.
                        Data visualization was mind-blowing, aggregated data tells numerous stories from different perspectives. 
                        That encounter caught my full attention and has dragged me into the world of data science. 
                        Dealing with data was/is so interesting to dig deep and find out what is hiden in the data. 
                        It was/is a rewarding experince as if I found a treasure from a data island. 
                        From that on, I have continued to learn data science, data analysis, machine leanring and etc. 
                        My interest has even expanded into more of a programming in general, learning more of a software engineering side on top of data science. 
                        I want to connect my passion with specific objectives. 
                        My ultimate goal is to contribute Japanese agriculture farmers as I know from my personal experince how physically exhausting their work can be. 
                        However, I am willing to take on whatever available to me at present and later on will achieve my goal. 
                        I would love to learn more about programming along the way and apply what I will learn. 
                        <br><br>
                        <a class="b-color" href="https://www.linkedin.com/in/jkamimura/">#iamrecruitable</a>
                    </p>
                </div>
                <a class="b-color" style="margin-left:74rem" href="http://127.0.0.1:5000/">&#8635; Home</a>
            </header>
        </section>
</body>
</html>