<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jun Kamimura</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="top-container" id="top-anker">
        <!-- Header -->
        <header class="header-content">
            <!-- Header Category Link -->
            <div class="header">
                <div class="nav" style="display: block; opacity: 1;">
                    <ul class="nav__list">
                        <li class="nav__item nav__logo" style="opacity: 1; z-index: 1;"><a
                                href="https://www.linkedin.com/in/jkamimura/"><img src="static/images/j_512x512.png" style="opacity: 1" alt="favicon-image"
                                    width="75" height="75"></a></li>
                        <li class="nav__item"><a href="http://127.0.0.1:5000/">Home</a></li>
                        <li class="nav__item"><a href="{{ url_for('about') }}">About</a></li>
                        <li class="nav__item"><a href="https://github.com/junchan03">Github</a></li>
                        <li class="nav__item"><a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </div>
                <br><br>
                <img src="static/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg" style="opacity: 0.9" alt="" width="1235" height="820">
                <a class="s-text" href="https://unsplash.com/ja/%E5%86%99%E7%9C%9F/y8Ngwq34_Ak?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"><pre>          Photo </a><a class="xs-text" >by </a><a class="s-text" href="https://unsplash.com/ja/@scottagoodwill?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Scott Goodwill</a></pre>
                <br><br>
            </div>
        </header>
    </div>
</body>
</html>
